<div class="card">
    <div class="card-body">
        <h1>ABOUT</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis culpa enim doloribus aliquam sit facere voluptate magni sint aperiam repudiandae explicabo 
            corporis quos modi inventore ex impedit maxime atque, blanditiis vel. Ea a ratione corporis illum quasi expedita omnis ut!</p>
    </div>
</div>