<div class="jumbotron-mt-4">
    <h1 class="display-4">SISTEMA LCK CON MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aperiam aspernatur nulla? Laudantium error ea dolor dolorum autem optio labore corporis perspiciatis. Ratione quia blanditiis aspernatur voluptatum, vel quasi enim.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab beatae asperiores officia velit repellendus minima aut omnis facilis. Reprehenderit, vel? Quia excepturi molestias quibusdam soluta cupiditate labore optio officiis?</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">GOOGLE</a>
</div>